<mat-grid-list *ngIf="isBanner0" cols="8">
    <div class="banner">
      <img [src]="'../../../assets/images/img'+numeroAleatorioImg+'.jpg'" alt="Mi Imagen" class="banner-image">
    </div>      
</mat-grid-list>


<mat-grid-list *ngIf="isBanner1" cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="isBanner2" cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <app-card></app-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-card></app-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-card></app-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="isBanner3" cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

  