<mat-toolbar [ngClass]="{'mat-toolbar-scrolled': scrolled}">
        <img src="../../assets/images/logoLigaRadioManizales.jpg" alt="Logo de la aplicación" class="logo">
    <span>Liga de Radioaficionados de Manizales-Colombia HK6LRM</span>
    <app-menu></app-menu>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>
        <a href="https://www.instagram.com">
          <img src="assets/images/instagram.png" alt="Instagram" class="social-icon">
        </a>
      </mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>
        <a href="https://www.facebook.com">
          <img src="assets/images/facebook.png" alt="Facebook" class="social-icon">
        </a>
      </mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>
        <a href="https://www.youtube.com">
          <img src="assets/images/youtube.png" alt="YouTube" class="social-icon">
        </a>
      </mat-icon>
    </button>
  </mat-toolbar>