<!-- 
    TITULO
    SUBTITULO
    PARRAFO
    PARRAFONEGRILLA
    LISTA1
    LISTA2
    IMAGEN
    TABLA1
    TABLA2
    MAPA
 -->

 <!-- En el template del componente -->
<div style="height: 50px;"></div>
<div *ngFor="let item of diccionario">
    <ng-container [ngSwitch]="item.tipo">
      <h1 *ngSwitchCase="'titulo'">{{ item.texto }}</h1>
      <h2 *ngSwitchCase="'subtitulo'">{{ item.texto }}</h2>
      <p *ngSwitchCase="'parrafo'">{{ item.texto }}</p>
      <p *ngSwitchCase="'parrafoNegrilla'">{{ item.texto }}</p>
      <mat-list *ngSwitchCase="'lista1'">
        <mat-list-item *ngFor="let elemento of item.texto.split(';')">{{ elemento }}</mat-list-item>
      </mat-list>
      <mat-list *ngSwitchCase="'lista2'">
        <mat-list-item *ngFor="let elemento of item.texto.split(';')">{{ elemento }}</mat-list-item>
      </mat-list>
      <img *ngSwitchCase="'imagen'" src="" alt="">
      <table *ngSwitchCase="'tabla1'">
        <!-- Renderiza la tabla 1 aquí -->
        <thead>
          <tr>
            <th *ngFor="let cabecera of item.cabeceras">{{ cabecera }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fila of item.datos">
            <td *ngFor="let dato of fila">{{ dato }}</td>
          </tr>
        </tbody>
      </table>
      <table *ngSwitchCase="'tabla2'">
        <!-- Renderiza la tabla 2 aquí -->
      </table>
      <div *ngSwitchCase="'mapa'">
        <!-- Renderiza el contenedor de mapa aquí -->
        <!-- Puedes usar una librería como Google Maps para mostrar el mapa -->
        <!-- Ejemplo: <app-google-map [direccion]="item.mapa"></app-google-map> -->
      </div>
      <!-- Agregar más tipos según sea necesario -->
    </ng-container>
  </div>
  