<div cdkMenuBar>
    <button class="example-menu-bar-item" cdkMenuItem [routerLink]="['/inicio']" [cdkMenuTriggerFor]="inicio" routerLinkActive="active">Inicio</button>
    <button class="example-menu-bar-item" cdkMenuItem [cdkMenuTriggerFor]="infoLiga" [routerLinkActive]="['active']">Info Liga</button>
    <button class="example-menu-bar-item" cdkMenuItem [routerLink]="['/boletines']" [cdkMenuTriggerFor]="boletines" routerLinkActive="active">Boletines</button>
    <button class="example-menu-bar-item" cdkMenuItem [routerLink]="['/feria-manizales']" [cdkMenuTriggerFor]="feriasManizales" routerLinkActive="active">Feria de Manizales</button>
    <button class="example-menu-bar-item" cdkMenuItem [routerLink]="['/']" [cdkMenuTriggerFor]="contacto" routerLinkActive="active">Contacto</button>
  </div>
  
  <ng-template #inicio>
  </ng-template>
  
  <ng-template #infoLiga>
    <div class="example-menu" cdkMenu>
      <button class="example-menu-item" cdkMenuItem [routerLink]="['/acta-fundacion']" routerLinkActive="active">Acta de Fundacion</button>
      <button class="example-menu-item" cdkMenuItem [routerLink]="['/historia']" routerLinkActive="active">Historia</button>
      <button class="example-menu-item" cdkMenuItem [routerLink]="['/estatutos-liga']" routerLinkActive="active">Estatutos de la Liga</button>
      <button class="example-menu-item" cdkMenuItem [routerLink]="['/junta-directiva']" routerLinkActive="active">Junta Directiva 2023/2024</button>
      <button class="example-menu-item" cdkMenuItem [routerLink]="['/lista-asociados']" routerLinkActive="active">Listado de Asociados</button>
      <button class="example-menu-item" cdkMenuItem [routerLink]="['/tarifas-pagos']" routerLinkActive="active">Tarifas y Medios de Pago</button>
      <button class="example-menu-item" cdkMenuItem [routerLink]="['/nuestras-redes']" routerLinkActive="active">Nuestras Redes</button>
      <button class="example-menu-item" cdkMenuItem [routerLink]="['/bureau']" routerLinkActive="active">Bureau</button>
    </div>
  </ng-template>
  
  <ng-template #boletines >
  </ng-template>

  <ng-template #feriasManizales >
  </ng-template>

  <ng-template #contacto >
  </ng-template>